<header id="header">
    <div>
        <nav>
            <ol>
                <li><a href="/mugs/">Начало</a></li>
                <li><a href="/mugs/gallery.php">Галерия</a></li>
                <li><a href="/mugs/about-us.php">За нас</a></li>
                <li><a href="/mugs/contacts.php">Контакти</a></li>
            </ol>
        </nav>
    </div>
</header>
