body > .container {
    margin: 20px auto;
}

.margin-top {
    margin-top: 50px;
}

#images-list {
    list-style-type: none;
}

#images-list li {
    display: inline-block;
}

#images-list img {
    max-width: 200px;
    border: 1px solid black;
}

#tag-list, #category-list {
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
}

#tag-list li, #category-list li {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}

#product-tag-list, #product-tag-list-right {
    list-style-type: none;
    padding: 0;
}

#product-tag-list li, #product-tag-list-right li {
    padding: 5px 10px;
    margin: 5px;
    display: inline-block;
    background-color: #ddd;
}

#product-tag-list li:nth-child(2n+1), #product-tag-list-right li:nth-child(2n+1) {
    background-color: #eee;
}

.orders-list {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
}