<div class="row">
    <div class="col-md-12">
        <nav class="nav nav-inline">
            <a class="nav-link active" href="#">List</a>
            <a class="nav-link" href="@Url.Action("Add", "Product", new { area = "Admin" })">Add</a>
        </nav>
    </div>
</div>