@model MugStore.Web.ViewModels.Gallery.IndexViewModel
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_MenuPartial")

<section id="gallery" class="site-section">
    <h2>Галерия</h2>
    <h4>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp</h4>
    <div>
        <div id="gallery-left">
            <strong>Категории</strong>
            <ul>
                @foreach (var category in Model.Categories)
                {
                    <li><a href="#">@category.Name</a></li>
                }
            </ul>
        </div>
        <div id="gallery-right">
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li>
                        <img src="@Url.RouteUrl("ProductImage", new { name = product.Images.First().Name })">
                        <strong>@product.Title</strong>
                        <a href="/mugs/details.php" class="blue-btn">Детайли</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

