@{
    ViewBag.Title = "За контакти";
}

@Html.Partial("_MenuPartial")

<section id="contacts" class="site-section">
    <h2>За контакти</h2>
    <h4>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorp</h4>
    <div style="width: 100%; height: 400px; background-color: #ccc; margin-bottom: 30px;">

    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div>
        <ul>
            <li>Адрес:</li>
            <li>Асеновград<br>ул. Борислав №2 (срещу магазин LIDL)</li>
            <li>Телефон:</li>
            <li>0885 022 352</li>
            <li>Email:</li>
            <li>dasfsdf</li>
        </ul>
    </div>
</section>

<section id="contact-form">
    <div class="site-section">
        <h2>Директен контакт</h2>
        <form method="post" action="@Url.Action("Contacts", "Home")">
            @if (this.ViewBag.MailSend != null)
            {
                if (this.ViewBag.MailSend)
                {
                    <strong class="status-success-block">Съобщението е изпратено успешно</strong>
                }
                else
                {
                    <strong class="status-error-block">Попълнете всички полета коректно</strong>
                }
            }
            @Html.AntiForgeryToken()
            <input type="text" name="name" placeholder="Име" required="required">
            <input type="email" name="email" placeholder="Email адрес за обратна връзка" required="required">
            <textarea name="comment" placeholder="Съобщение" required="required"></textarea>
            <a href="#" class="blue-btn" id="contacts-send-email-btn">Изпрати</a>
        </form>
    </div>
</section>

@section scripts {
    <script>
        $(function () {

            $('#contacts-send-email-btn').on('click', sendEmailBtnClick);
            function sendEmailBtnClick(e) {
                e.preventDefault();
                $('#contact-form').find('form').submit();
            }

        });
    </script>
}